body {
    font-family: "Arial", 'Helvetica Neue', Helvetica, sans-serif;
    margin: auto;
    width: 75%;
}

h1 {
    font-family: "Georgia", Times, Times New Roman, serif;
    color: white;
    background-color: rgb(175, 175, 175);
    margin-left: 25%;
    margin-top: 0px;
    width: 190px;
    height: 40px;
    padding: 17px;
}

#aboutBox {
    background: #ffffff;
    border-width: 0.1em;
    border-style: solid;
    border-color: #dddddd;
    margin-top: 90px;
    margin-bottom: 70px;
    padding: 1em;
    line-height: 30px; /* adds spaces between lines */
}

#contactBox {
    width: 45%;
    height: 400px;
    background: #ffffff;
    border-width: 0.1em;
    border-style: solid;
    border-color: #dddddd;
    margin-top: 90px;
    margin-bottom: 50px;
    padding: 1em;
    line-height: 30px; /* adds spaces between lines */
}

#connectBox {
    float: right;
    width: 45%;
    height: 400px;
    background: #ffffff;
    border-width: 0.1em;
    border-style: solid;
    border-color: #dddddd;
    padding: 1em;
    margin-bottom: 50px;
    margin-top: -485px;
}

#portfolioBox {
    background: #ffffff;
    border-width: 0.1em;
    border-style: solid;
    border-color: #dddddd;
    margin-top: 90px;
    margin-bottom: 100px;
    padding: 1em;
    height: 525px;
}

.aboutMe, .contact, .portfolio {
    color: #4aaaa5;
    font-size: 28px;
}

#mainNav {
    color: white;
    float: right;
    margin-top: -65px;
    margin-right: 25%;
}

/* Default nav colors */
#about, #portfolio, #contact {
    color: white;
    font-weight: bold;
    text-decoration: none; /*gets rid of that underline*/
}

/* Changes colors when the mouse hovers over */
#about:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    cursor: pointer; /* changes mouse arrow to pointing finger */
}

#portfolio:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#contact:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Changes colors when the mouse clicks */
#about:active {
    background-color: #4aaaa5;
    color: white;
    text-decoration: none;
}

#portfolio:active {
    background-color: #4aaaa5;
    color: white;
    text-decoration: none;
}

#contact:active {
    background-color: #4aaaa5;
    color: white;
    text-decoration: none;
}

/* Profile picture format */
#meng {
    float: left;
    width: 200px;
    padding: 5px;
    margin-right: 40px;
}

/* Portfolio pictures */
.pictures {
    float:left;
    margin-left: 37px;
    margin-right: 25px;
}

.tag {
    position:relative;
    bottom: 50px;
    text-align: center;
    font-family:'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    background-color:rgb(156, 156, 156) ;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input {
    width: 300px;
}

.message {
    width: 300px;
    height: 100px;
}

header {
    background-color: rgb(100, 100, 100);
    top: 0;
    left: 0; /* Begin from the very left of the screen */
    width: 100%; /* Ignore the 960px body width, stretch across the entire screen */
    position: fixed;
    height: 75px;
    margin-bottom: 90px;
}

footer {
    clear: both;
    position: fixed;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: rgb(100, 100, 100);
    border-top-color: #dddddd;
    color: white;
    text-align: center;
    width: 100%; 
    left: 0;
    bottom: 0; /* Keeps the footer at the bottom always */
}

/* Media Queries */
@media screen and (max-width: 960px) {
    body {
        width: 95%;
    }

    header {
        position: static;
    }

    .bio {
        font-size: 30px;
        line-height: 50px;
    }

    #meng {
        width: 50%;
        margin: auto;
        margin-left: 5px;
        margin-right: 35px;
    }

    #mainNav {
        font-size: 35px;
        margin-right: 20px;
        margin-top: -73px;
    }

    h1 {
        margin-left: 20px;
        font-size: 30px;
        width: 173px;
    }

    .aboutMe {
        text-align: center;
        font-size: 30px;
    }

    #aboutBox {
        margin-top: -7%;
        margin-bottom: 10%;
    }

    #portfolioBox {
        margin-top: -7%;
        margin-bottom: 8%;
        height: 500px;
    }

    #contactBox {
        margin-top: -7%;
        margin-bottom: 9%;
    }

    #connectBox {
        margin-top: -57%;
    }

    .pictures {
        margin-left: 28px;
        margin-right: 18px;
    }
}

@media screen and (max-width: 768px) {
    .bio {
        font-size: 40px;
    }

    #meng {
        width: 75%;
        margin: auto;
        margin-left: 70px;
        margin-bottom: 25px;
    }

    #aboutBox {
        margin-top: -10%;
    }

    #portfolioBox {
        margin-top: -10%;
        height: 750px;
    }

    #contactBox {
        margin-bottom: 16%;
        width: 95%;
    }

    #connectBox {
        float: left;
        height: 100px;
        width: 95%;
        margin-top: -15%;
        margin-bottom: 50px;
    }

    .pictures {
        margin-left: 57px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 640px) {
    #meng {
        margin-left: 65px;
    }
    #mainNav {
        font-size: 20px;
        margin-top: -65px;
    }

    #portfolioBox {
        margin-top: -12%;
        margin-bottom: 12%;
    }
    .pictures {
        margin-right: 30px;
        margin-left: 15px;
    }
}